@import url('https://fonts.cdnfonts.com/css/arupala-grotesk-trial');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

header{
    position: absolute;
    width: 55px;
    height: 25px;
    left: 348.97px;
    top: 51px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
}

#imagemvetor{
position:absolute;
left: 90%;
right: 91.64%;
top: 110%;
bottom: 93.9%;
}


#home{
    position: absolute;
width: 51px;
height: 22px;
left: 348.97px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;

}

#category{
    position: absolute;
width: 79px;
height: 22px;
left: 459.97px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
}

#kostania{
    position: absolute;
width: 195px;
height: 45px;
left: 623px;
top: 10px;

font-family: 'Arupala Grotesk Trial';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 130%;
/* or 45px */

display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #0D0D0D;


}

#promo{
    
position: absolute;
width: 55px;
height: 22px;
left: 902.97px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
}

#about{
    position: absolute;
width: 52px;
height: 22px;
left: 1017.97px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
}

.NomeDaPagina{
position: absolute;
width: 195px;
height: 45px;
left: 623px;
top: 39px;

font-family: 'Arupala Grotesk Trial';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #0D0D0D;
}

.pesquisa{
position: absolute;
width: 25px;
height: 24px;
left: 1280px;
top: 40px;

}

.linha{
position: absolute;
width: 1300px;
height: 0px;
left: 370px;
top: 118px;

border: 3px solid #736F84;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#LinhaVertical{
position: absolute;
width: 1010px;
height: 0px;
left: 700px;
top: 625px;

border: 3px solid #736F84;
transform: rotate(90deg);
}

#Tshirts{
position: absolute;
width: 674px;
height: 180px;
left: 440px;
top: 171px;

font-family: 'Arupala Grotesk Trial';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 90px;
color: #08090B;
}

#Paragrafo1{
position: absolute;
width: 646px;
height: 80px;
left: 440px;
top: 374px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 40px;
text-transform: capitalize;
color: #08090B;
opacity: 0.7;
}

#Imagem1{
position: absolute;
width: 670px;
height: 523px;
left:440px;
top: 477px;
}

#caixaemail{
position: absolute;
width: 297px;
height: 60px;
left: 440px;
top: 1037px;
}

#Botao{
position: absolute;
width: 191.19px;
height: 65px;
left:760px;
top: 1037px;
background-color: #0D0D0D;
color: white;

}

#coluna2{
position: absolute;
width: 367px;
height: 90px;
left: 1250px;
top: 161px;

font-family: 'Arupala Grotesk Trial';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 90px;
/* identical to box height, or 200% */
color: #08090B;

}

#Coats{
    width: 230px;
    height: 36px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    /* or 156% */
    
    letter-spacing: -0.04em;
    
    color: #191919;
    
    
   
flex: none;
order: 0;
 flex-grow: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 7px;

position: absolute;
width: 230px;
height: 75px;
left: 1255px;
top: 855px;
    

}

#more{
    position: absolute;
width: 448px;
height: 90px;
left: 1255px;
top: 1030px;

font-family: 'Arupala Grotesk Trial';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 90px;
/* identical to box height, or 200% */


color: #08090B;

}

#hand-crafted{
    position: absolute;
width: 454px;
height: 120px;
left: 1250px;
top: 1125px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 40px;
/* or 143% */

text-transform: capitalize;

color: #08090B;

opacity: 0.7;
}

#explore{
    position:absolute;
    width: 230px;
    height: 36px;
    left: 1258px;
    top: 895px;

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 280%;
/* or 208% */

letter-spacing: -0.04em;

color: #7F7F7F;


/* Inside auto layout */


}